body {
    background-color: #D4D3D3;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.0em;
}

h1,h2,h3,h4 {
    color: #1E4A6C;
}
    h2:hover{
        color: #C3622C;
    }

.navbar,nav {
    /* border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px; */
    border: 0.05px solid #5E5E5E;
    -webkit-box-shadow: 5px 7px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 13px -1px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 13px -1px rgba(0,0,0,0.75);
    
}

ul#horizontal-list {
    display: flex; justify-content: center;
    }
    
	ul#horizontal-list li {
        display: inline;
        position: relative;
        text-align: center;
        margin: 0px 5px 0px 5px;
    }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #D4D3D3;
    color: #1E4A6C;
}

.body {
    margin: 35px 0px 0px 0px;
    background-color: #DFDFDF;
}