body {
    background-color: #D4D3D3;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.0em;
}

h1,h2,h3,h4 {
    color: #1E4A6C;
}
    h2:hover{
        color: #C3622C;
    }

.thumbnail {
    border: 0.05px solid #94D6DB;
    padding: 5px;
    margin-bottom: 5px;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
}

.dashboard {
    margin-top: 100px;
    border: 0.05px solid #5E5E5E;
    -webkit-box-shadow: 5px 7px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 13px -1px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 13px -1px rgba(0,0,0,0.75);
}

.body {
    margin: 10px 0px 20px 0px;
    padding: 10px;
    border: 0.05px solid #5E5E5E;
    background-color: #DFDFDF;
    -webkit-box-shadow: 5px 7px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 13px -1px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 13px -1px rgba(0,0,0,0.75);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #D4D3D3;
    color: #1E4A6C;
}
