.form-left{
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 30px;
}

.form-right{
    width: 50%;
    float:left;
}

.mod-input{
    width: 100%;
    position: relative;
}
    .mod-input span{
        min-height: 16px;
        line-height: 16px;
        font-size: 12px;
        color: #F44336;
        visibility: hidden;
        display: block;
        margin-bottom: 10px;
    }
    .mod-input label{
        font-size: 12px;
        height: 15px;
        line-height: 15px;
        overflow: hidden;
        color: #424242;
        display: block;
        margin-bottom: 5px;
    }
    .mod-input input{
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 14px;
        height: 40px;
        line-height: 38px \0;
        padding: 0 35px 0 10px;
        margin-bottom: 2px;
        outline: none;
    }

.summary-selection{
    padding: 16px 12px 0;
    background: #FFF;
}
    .summary-selection-heading{
        font-size: 18px;
        color: #212121;
        margin-bottom: 14px;
        position: relative;
        font-weight: 500;
    }
    .summary-selection-content{
        border-bottom: 1px solid #EFF0F5;
        padding-bottom: 16px;
    }

.checkout-summary-row{
    display: table;
    width: 100%;
    margin-bottom: 16px;
}
    .checkout-summary-label{
        display: table-cell;
        font-size: 14px;
        color: #757575;
        letter-spacing: 0;
        line-height: 16px;
        vertical-align: middle;
        width: 50%;
    }
    .checkout-summary-value{
        display: table-cell;
        font-size: 16px;
        line-height: 21px;
        text-align: right;
        color: #202020;
        letter-spacing: -0.44px;
        vertical-align: middle;
    }

.checkout-order-total-row{
    display: table;
    width: 100%;
    margin-bottom: 16px;
}
    .checkout-order-total-title{
        display: table-cell;
        font-size: 14px;
        color: #202020;
        line-height: 16px;
    }
    .checkout-order-total-fee{
        font-size: 18px;
        color: #f57224;
        text-align: right;
    }
    .checkout-order-total-fee-tip{
        font-size: 12px;
        color: #424242;
        letter-spacing: 0;
        line-height: 16px;
        display: block;
        text-align: right;
        margin-top: 5px;
    }
    .checkout-order-total-row button{
        width: 100%;
        height: 40px;
        float: right;
        line-height: 14px;
        margin-left: 12px;
    }