{{#section 'title'}}
Đăng kí
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/datepicker/datepicker.css">
{{/section}}

{{#section 'js'}}
<script src="/assets/datepicker/datepicker.js"></script>

<script type="text/javascript">
$('#txtDOB').datepicker({
  format: 'd/m/yyyy',
  autoclose: true
});
</script>

{{/section}}

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Đăng kí</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <span>Using </span>
                <button type="button" class="btn btn-primary " id="fb-connect">Facebook</button>
                <button type="button" class="btn btn-danger" id="gg-connect">Google +</button>
                <hr>
                <form action="" id="signup-form">
                    <div class="form-group">
                        <label for="email-signup">Email:</label>
                        <input type="email" class="form-control" id="email-signup" placeholder="katie@email.com" name="email">
                    </div>
                    <div class="form-group">
                        <label for="username-signup">Họ tên:</label>
                        <input type="text" class="form-control" id="username-signup" placeholder="Katty" name="username">
                    </div>
                    <div class="form-group">
                        <label for="pswd-signup">Mật khẩu:</label>
                        <input type="password" class="form-control" id="pswd-signup" placeholder="*********" name="pswd">
                    </div>
                    <div class="form-group">
                        <label for="re-pswd-signup">Xác nhận mật khẩu:</label>
                        <input type="password" class="form-control" id="re-pswd-signup" placeholder="*********" name="re-pswd">
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="birday-signup">Ngày sinh:</label>
                                <input type="date" class="form-control" id="birday-signup" placeholder="Birthday" name="birday">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="gender-signup">Giới tính:</label>
                                <select name="gender" id="gender-signup" class="custom-select">
                                    <option selected>Chọn...</option>
                                    <option value="male">Nam</option>
                                    <option value="female">Nữ</option>
                                    <option value="other">Khác</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNum-signup">Điện thoại:</label>
                        <input type="tel" class="form-control" name="phone" id="phoneNum-signup" placeholder="(+84) 123 456 789">
                    </div>
                    <div class="form-group">
                        <label for="address-signup">Địa chỉ:</label>
                        <input type="text" class="form-control" name="phone" id="address-signup" placeholder="1st Nguyen Thi Minh Khai, Q1, Tp.HCM">
                    </div>

                    <hr>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="accept-term"> Tôi đồng ý với
                            <a href="#">Điều khoản sử dụng</a>
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="receive-mail"> Thông báo cho tôi về sản phẩm mới và khuyến mãi
                        </label>
                    </div>
                    <div class="g-recaptcha" data-sitekey="6LdDG1YUAAAAAJmrKr-38rsKihGsjZwDEMDRQWn0"></div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-block" form="signup-form" data-dismiss="modal">Đăng kí</button>
            </div>

        </div>
    </div>
</div>