<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/bootstrap-4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/dashboard/style.css">

    <title>{{{_sections.title}}}</title>
</head>

<body>

    <div class="container">

        <nav class="header navbar navbar-expand-md navbar-light bg-light">
            <div class="mr-auto">
                <img src="http://via.placeholder.com/150x80?text=logo">
            </div>

            <div>
                <span>
                    <i class="fa fa-user-circle"></i> Admin
                    <a href="#"> JACK SPARROW</a> |
                    <a href="#"> Đăng xuất</a>
                </span>
            </div>
        </nav>

        <nav class="navbar bg-light dashboard">
            <h1>
                <i class="fa fa-truck"></i> {{{_sections.title}}}</span>
            </h1>
        </nav>

        {{{body}}}
        
    </div>
</div>

<div class="footer">
    <p>Phiên bản 1.1 - Bản quyền của Rắc rốI TeaM
        <i class="fa fa-smile"></i> Phát triển bởi Rắc rốI TeaM © 2018</p>
    </div>

</body>
<script src="/assets/bootstrap-4.1.1/js/bootstrap.min.js"></script>
<script src="/assets/jquery/jquery-3.1.1.min.js"></script>
<script src="/assets/dashboard/product-manage.js"></script>

</html>