body{
    font-family: sans-serif;
    size: 20px;
}

p{
    padding-left: 20px;
}

h2{
    color: #5F9EA0;
    padding: 5px;
}

h3{
    color: #5F9EA0;
    padding-left: 10px;
}

h4{
    color: #5F9EA0;
    padding-left: 15px;
}

.pics{
    width: 152px;
    height: 152px;
    margin: 15px;
    align-self: center;
}

.link{
    align-self: auto;
}
    .link:hover{
        transform: scale(1.2);
    }
